<script setup lang="ts">
import { ref } from 'vue';

const valid = ref(false)
const celsius = ref(0)
const result = ref(0)

function callConvert() {
    result.value = convert(celsius.value)
}

function convert(celsius: number): number {
    return (celsius * 9.0) / 5 + 32
}

</script>
<template>
    <v-form v-model="valid">
        <v-container>
            <v-row>
                <v-col cols="12" md="4">
                    <v-text-field v-model.number="celsius" :rules="[(v) => !!v || 'Celsius is not empty!!!',
                    (v) => !isNaN(parseFloat(v)) || 'Celsius must be number!!!'
                    ]" label="Celsius" required hide-details></v-text-field>
                </v-col>

                <v-col cols="12" md="4">
                    <v-btn @click="callConvert">Calculate</v-btn>
                </v-col>

                <v-col cols="12" md="4">
                    <div>{{ result }}</div>
                </v-col>
            </v-row>
        </v-container>
    </v-form>
</template>